head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title PARKVILLE DAY AND EVENING PARKING
  link(rel='stylesheet', href='/login/style.css')
.login
  form.verify
    img.avatar(src='/login/avatar.png')
    h1.value Login Here
    br
    label EMPLOYEE NAME
    br
    input(type='text', placeholder='employee name')
    br
    label Password
    br
    input(type='password', placeholder='employee password')
    br
    input(type='submit', name='', value='Login')
    br
    a(href='#') Forgot password?
    a(href='signup-page.html') Do not have an acount
